:root {
  --background: #fafafa;
}

html,
body {
  width: 100vw;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  font-family: var(--font-pretendard);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 'none';
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  background: none;
  cursor: pointer;
  border: none;
}
